:root {
	/* Primary */
	--white: #fff;
	--almost-black: #151515;
	--gold: #d5966c;
	--dark-gray: #444;
	--red: #af0d0d;
	--amber-100: #fffbeb;
	--amber-200: #fee685;
	--red-100: #ffe2e2;
	--orange-100: #fff7ed;
	--yellow-100: #fefce8;
	--lime-100: #f7fee7;
	--green-100: #f0fdf4;
	--violet-100: #f5f3ff;
	--blue-100: #eff6ff;
}
